.test-suite {
	padding: 5px 10px;
	color: #205791;
	background: #79b4dc;
}

.test-suite.pass {
	color: #264409;
	background: #c6d880;
}

.test-suite.failure {
	color: #8a1f11;
	background: #fbe3e4;
}

.suite-title .expand {
	display: inline-block;
	width: 10px;
	height: 10px;
	content: " ";
	cursor: pointer;
	background: #555;
}


.test {}
	.test-title {}
		.test-title .buttons {
			display: inline-block;
			width: 40px; }
			.test-title .buttons a {
				display: inline-block;
				width: 10px;
				height: 10px;
				content: " ";
				cursor: pointer;
			}
			.test-title .buttons .trace { background: #777; }
			.test-title .buttons .output { background: #747; }


.suite-title {}
	.suite-title .count {
		float: right;
	}

.trace.collapsed .minus,
.trace.expanded .plus,
.trace.collapsed .pre,
.trace.collapsed pre {
	display: none;
}

.minus, .plus {
	display: inline-block;
	margin: 0 5px 0;
	border: 1px solid #8a1f11;
	border-radius: 3px;
	cursor: pointer;
}

.code .error {
	background: rgba(0,0,0,0.1);
}

.number {
	float: left;
}